article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.card-da-raca {
  height: 70vh;
  width: 300px;
  background-color: #fca311;
  margin: 10px;
  border: 2px solid #14213d;
}

img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-bottom: 2px solid #14213d;
}

h1 {
  font-size: 1.4rem;
  margin: 2vh auto;
}



@media (max-width: 767px) {
  article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card-da-raca {
    height: 60vh;
    width: 40vw;
    background-color: #fca311;
    margin: 5px;
    border: 2px solid #14213d;
  }

  .card-da-raca>p{
    font-size: 1rem;
  }

  img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-bottom: 1px solid #14213d;
  }

  h1 {
    font-size: 1.2rem;
    margin: 1vh auto;
  }
}
